version: '3'
services:
  mysql:
    image: mysql:8
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_DATABASE: "walletservice"
      MYSQL_USER: "walletservice"
      MYSQL_PASSWORD: "password"